header {
    width: 100%;
    padding: 1em 3em;
    background-color: var(--lt-gray-clr);
    z-index: 100;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
}

nav a {
    text-decoration: none;
    color: var(--black-clr);
    font-size: 1.125rem;
    text-transform: uppercase;
}

nav a:hover,
nav a:focus {
    color: var(--primary-clr);
}

footer {
    padding: 2em;
    background-color: var(--black-clr);
    color: var(--white-clr);
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-links-container {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.footer-links-container img {
    height: 35px;
    width: 35px;
}

.small-text {
    font-size: 0.75rem;
}

@media (min-width: 700px) {
    header {
        position: fixed;
    }

    .header-content {
        flex-direction: row;
        align-items: center;
    }

    nav {
        flex-direction: row;
        align-items: center;
    }
}