header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1em 3em;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
}

nav a {
    text-decoration: none;
    color: #111112;
}

footer {
    padding: 2em;
    background-color: #111112;
    color: #fafafa;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-links-container {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.footer-links-container img {
    height: 35px;
    width: 35px;
}

.small-text {
    font-size: 0.75rem;
}

@media (min-width: 630px) {
    header {
        flex-direction: row;
        align-items: center;
    }

    nav {
        flex-direction: row;
        align-items: center;
    }
}