.gallery-outer-wrapper {
    position: relative;
}

.gallery-container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.gallery-figure {
    flex-shrink: 0;
    width: 100%;
    scroll-snap-align: center;
}

.gallery-img {
    border-radius: 10px;
    width: 100%;
}

.gallery-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--black-clr);
}

.gallery-btn:hover,
.gallery-btn:focus {
    fill: var(--primary-clr);
}

.back {
    position: absolute;
    z-index: 100;
    top: 45%;
    left: 5%;
}

.fwd {
    position: absolute;
    z-index: 100;
    top: 45%;
    right: 5%;
}

.hidden {
    display: none;
}

.gallery-btn-icon {
    color: inherit;
    opacity: 0.4;
    pointer-events: none;
}

/* .current {
    border: 1px solid red;
} */