*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Change Later: Montserrat, Open Sans, or Source Sans Pro? */
  --main-font: Arial, Helvetica, sans-serif;

  --black-clr: #111112;
  --white-clr: #fafafa;
  --lt-gray-clr: #e6e9eb;
}

html,
body {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
.header-title {
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
}

.header-title {
  font-weight: 700;
  font-size: 1.25rem;
}

.home-container {
  padding: 2em;
}